---
// src/components/Footer.astro
---
<footer class="flex flex-wrap items-center p-4 bg-neutral text-neutral-content justify-between gap-4">
    <aside class="items-center">
      <p>© 2025 Keshmat Chess Center - All right reserved</p>
    </aside> 
    <nav class="flex gap-4 flex-wrap">
      <a href="https://wa.me/96171818322" target="_blank" class="link link-hover">WhatsApp</a>
      <a href="mailto:info@keshmat.org" target="_blank" class="link link-hover">Email</a>
      <a href="https://instagram.com/keshmat.lb" target="_blank" class="link link-hover">Instagram</a>
    </nav>
</footer>