---
// src/components/Header.astro
import { Image } from "astro:assets";
import keshmatLogo from "../assets/logos/keshmat-logo.png";
import lcfLogo from "../assets/logos/lcf-logo.png";
---

<div class="navbar bg-base-100 shadow-lg">
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="h-5 w-5"
          fill="none"
          viewBox="0 0 24 24"
          stroke="currentColor"
          ><path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h8m-8 6h16"></path></svg
        >
      </div>
      <ul
        tabindex="0"
        class="menu menu-sm dropdown-content mt-3 z-[1] p-2 shadow bg-base-100 rounded-box w-52"
      >
        <li><a href="/#watch">Watch Games</a></li>
        <li><a href="/history">History</a></li>
        <li><a href="/about">About Keshmat</a></li>
      </ul>
    </div>
    <a href="/" class="btn btn-ghost text-xl">
      <Image src={keshmatLogo} alt="Keshmat Logo" class="h-6 w-auto mr-2" />
      <Image src={lcfLogo} alt="LCF Logo" class="h-6 w-auto" />
    </a>
  </div>
  <div class="navbar-center hidden lg:flex">
    <ul class="menu menu-horizontal px-1">
      <li><a href="/#watch">Watch Games</a></li>
      <li><a href="/history">History</a></li>
      <li><a href="/about">About Keshmat</a></li>
    </ul>
  </div>
  <div class="navbar-end"></div>
</div>
